* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

* a {
  text-decoration: none;
}

html,
body {
  background: #000;
}

html {
  scroll-behavior: smooth;
}
